/* Variables */
/* GENERAL */
* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

section, article, header, main, footer {
  margin: 0px;
  padding: 0px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin: 0px;
}

.logo_title {
  font-family: "Shrikhand";
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin: 0;
}

.fa-solid {
  color: #EAEAEA;
}

body {
  margin: 0;
  width: 100%;
}

main {
  padding: 0px;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
@media (max-width: 767.98px) {
  .main-container {
    padding: 0;
  }
}

/* BOUTON */
.btn--classic {
  border: none;
  border-radius: 25px;
  color: white;
  padding: 15px;
  background: linear-gradient(193.33deg, #FF79DA -11.44%, #9356DC 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}

/* HEADER */
.logo {
  padding: 20px 0px 8px 0px;
}
.logo img {
  width: 50%;
}

.localisation {
  background-color: #EAEAEA;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 15px 0px 15px 0px;
  width: 100%;
}
.localisation i {
  color: black;
}
.localisation p {
  display: inline;
}

/* MAIN */
/* BLOC EXPLORATION */
.bloc_exploration {
  width: 100%;
  background-color: #F6F6F6;
  padding: 40px 0px 50px 0px;
}
.bloc_exploration h1 {
  margin: auto;
  width: 80%;
}
.bloc_exploration p {
  margin: 15px auto 30px auto;
  width: 90%;
}

/* BLOC FONCTIONNEMENT */
.bloc_fonctionnement {
  padding: 40px 0px 50px 0px;
}
.bloc_fonctionnement h1 {
  text-align: left;
  padding-left: 15px;
}
.bloc_fonctionnement__case {
  width: 90%;
  display: flex;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  margin: auto;
  margin-top: 25px;
  align-items: center;
}
.bloc_fonctionnement__case__number {
  width: 24px;
  height: 20px;
  -webkit-clip-path: ellipse();
          clip-path: ellipse();
  background-color: #9356DC;
  color: white;
  padding-top: 4px;
  position: relative;
  left: -15px;
}
.bloc_fonctionnement__case__icon--no_higlight {
  color: #7E7E7E;
}
.bloc_fonctionnement__case__icon--higlight {
  color: #9356DC;
}
.bloc_fonctionnement__case__text {
  padding-left: 15px;
  font-weight: bold;
}

@keyframes hearth {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/* BLOC RESTAURANTS */
.bloc_restaurants {
  background-color: #F6F6F6;
  padding: 50px 0px 50px 0px;
}
.bloc_restaurants__title {
  text-align: left;
  padding-left: 15px;
  margin-bottom: 15px;
}
.bloc_restaurants__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.bloc_restaurants__content__case {
  width: 90%;
  height: 250px;
  max-width: 340px;
  background-color: white;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 67% 2% 22% 2% 2% 5%;
  grid-template-rows: 5% 8% 2% 54% 3% 10% 1% 10% 2%;
  gap: 0px 0px;
}
.bloc_restaurants__content__case__img {
  grid-area: 1/1/5/7;
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.bloc_restaurants__content__case__new {
  grid-area: 2/2/4/6;
  max-width: 80px;
  max-height: 30px;
  background-color: #99E2D0;
  margin: 0;
  padding: 5px 3px 5px 3px;
  font-size: 14px;
  color: #008766;
  border-radius: 2px;
}
.bloc_restaurants__content__case__new--on {
  display: block;
}
.bloc_restaurants__content__case__new--off {
  display: none;
}
.bloc_restaurants__content__case__title {
  grid-area: 6/1/7/2;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  text-align: left;
  padding-left: 10px;
}
.bloc_restaurants__content__case__text {
  grid-area: 8/1/9/2;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  margin: 0;
  padding-left: 10px;
}
.bloc_restaurants__content__case__icon {
  grid-area: 8/4;
  width: 20px;
  height: 20px;
  text-align: left;
}
.bloc_restaurants__content__case__icon--colored {
  transform: scale(0);
}
.bloc_restaurants__content__case__icon--colored::before {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bloc_restaurants__content__case__icon--blank:hover + .bloc_restaurants__content__case__icon--colored {
  animation: hearth 150ms ease-in 0s 1 normal forwards;
}

/* FOOTER */
.navbar_footer {
  background-color: #353535;
  width: 100%;
  height: 100%;
  padding: 20px 0px 0px 15px;
}
.navbar_footer .logo_title {
  margin-bottom: 15px;
}
.navbar_footer i {
  margin-right: 10px;
  width: 10px;
  height: 10px;
}
.navbar_footer li {
  padding-bottom: 5px;
}/*# sourceMappingURL=style.css.map */